* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #222;
}

section {
    padding: 100px 20px;
}

#home {
    min-height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;

    background-color: #123456;

    color: white;
}

.event-card {
    padding: 30px;

    background-color: white;

    border-radius: 12px;

    border: 1px solid #ddd;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.filter-btn.active {
    background-color: #123456;
    color: white;
}